@model IEnumerable<MvcDemo.Models.StudentInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        function getStudents() {
            console.log(1111111111);
        $.getJSON("api/StudentApi",
            function (data) {
            $('#students').empty(); // Clear the table body.

        // Loop through the list of products.
                $.each(data, function (key, val) {
                    // Add a table row for the product.
                    var row = '<td>' + val.StudentName + '</td><td>' + val.Address + '</td>';
                    $('<tr />', {html: row })  // Append the name.
            .appendTo($('#students'));
    });
});
}

$(document).ready(getStudents);
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <thead>
        <tr><th>Name</th><th>Address</th></tr>
    </thead>
    <tbody id="students">
    </tbody>
</table>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }

</table>
